@charset "utf-8";
/* CSS Document */

body {
	background: url('http://www.thanksgivingcoffee.com/images/kraft-texture2.png');
}
header, .content {
	border-radius: 2px;
}
header {
	width: 80%;
	
	margin: auto;
	height: 6.25em;
	margin-top: 50px;
}
.header-top{
	width:100%;
	height:60%;
	
}
.header-bottom{
	width:100%;
	height:40%;
}
.content {
	margin: auto;
	width: 80%;
	height: 500px;
	border: 1px solid black;
	margin-top: 30px;
}

footer {
	border-top: 1px solid black;
	margin-top: 30px;
	width: 100%;
	height: 100px;
}
nav {
	width: 80%;
	display: inline-block;
	border: 1px solid black;
	height:100%;
}
.search {
	display: inline-block;
	width: 15%;
	height:2em;
	position:absolute;
}
input[type=search] {
	margin-top: 4px;
	padding: 0.25em 0.5em 0.25em 0.5em;
	width: 100%;
}
.tiles{
	width:80%;
	float:right;
}
.notifications, .one, .two{
	display:inline-block;
}
.notifications{
	width:40%;
	float:left;
	border:1px solid black;
	height:45%;
	margin-bottom:20px;
}
.one{
	width:57%;
	float:right;
	border:1px solid black;
	height:45%;
	margin-bottom:20px;
}
.two{
	
	width:100%;
	border:1px solid black;
	height:45%;
	margin-bottom:20px;
}

/*
body {
	background-color: grey;
}


@media screen and (max-width: 960px) {
	body {
		background-color: red;
	}
}
@media screen and (max-width: 768px) {
	body {
		background-color: orange;
	}
}
@media screen and (max-width: 550px) {
	body {
		background-color: yellow;
	}
}
@media screen and (max-width: 320px) {
	body {
		background-color: green;
	}
}

*/